.Layout__Header {
  align-items: center;
  display: flex;
  height: 10vh;
  padding: 0 10px;
}

.Layout__Main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10vh - 20px);
  padding: 10px;
  width: calc(100% - 20px);
}
